.misys-fieldset {
  border: 1px solid #c8c8c8;
  border-radius: 12.5px;
  margin-top: 2em;
  padding: 1.5em 5%;
  padding-top: 1em;

  legend {
	  background-color: #faf9f7;
	  border-width: 0px;
	  color: #738FA8;
	  float: left;
	  font-size: 1.1em;
	  font-weight: bold;
	  margin-bottom: 0;
	  margin-left: -5px;
	  margin-top: -1.6em;
	  padding: 0 2px;
	  width: auto;
	}
}

