//Colors
$green-1: #cddbc6;
$green-2: #c4d4bb;
$green-3: #a6cd91;
$green-4: #7caa62;
$light-green-gradient-1: linear-gradient($green-1, $green-2);
$light-green-gradient-2: linear-gradient($green-2, $green-1);
$green-gradient-1: linear-gradient($green-3, $green-4);
$green-gradient-2: linear-gradient($green-4, $green-3);

$misys-blue: #6197c8;

$off-white: #faf9f7;

$warning-red: #f2dede;
$warning-red-2: #ff0505;
$warning-yellow: #fcf8e3;
$warning-yellow-2: #ffff05;
