<div class="data-grid-container">
	<mi-data-grid-revisit
		mi-data-grid-columns="columns"
		mi-data-grid-contractable="contractable"
		mi-data-grid-create="create(data)"
		mi-data-grid-default-row="defaultRow"
		mi-data-grid-destroy="destroy(data)"
		mi-data-grid-editable="editable"
		mi-data-grid-properties="properties"
		mi-data-grid-on-select="onSelect(data)"
		mi-data-grid-read="read(params)"
		mi-data-grid-refresh-event="refreshEvent"
		mi-data-grid-update="update(data)"
	></mi-data-grid-revisit>
</div>
