<div class="modal messaging fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">close <span class="times">&times;</span></button>
				<div class="clearfix"></div>
      </div>
      <div class="modal-body">
					<section class="left-sidebar">
						<ul class="nav nav-tabs">
							<li class="active"><a href="javascript:void();">Groups</a></li>
							<li><a href="javascript:void();">Inbox</a></li>
						</ul>
						<div class="content">
							<ul class="groups">
								<li class="active"><a href="javascript:void(0);">All</a></li>
								<li><a href="javascript:void(0);">My Company</a></li>
								<li><a href="javascript:void(0);">My Department</a></li>
								<li><a href="javascript:void(0);">My Customers</a></li>
								<li><a href="javascript:void(0);">My Suppliers</a></li>
								<li><a href="javascript:void(0);">Technical Support</a></li>
								<li><a href="javascript:void(0);">Customer Service</a></li>
								<li><a href="javascript:void(0);">Other Friends</a></li>
							</ul>
							<a class="manage"><span class="glyphicon glyphicon-globe"></span> Manage Network</a>
							<a class="manage"><span class="glyphicon glyphicon-user"></span> Invite Friends</a>
							<h1 class="online">Currently Online</h1>
						</div>
					</section>
					<section class="content">
						<div class="row">
							<div class="col-md-offset-1 col-md-10">
								<div class="row">
									<label>Status Update</label>
									<input class="form-control"></input>
								</div>
								<div class="row">
									<button class="btn btn-primary col-md-offset-10 col-md-2 post" title="Post">Post</button>
								</div>
								<div class="row feed">
									<div class="update">
										<div class="image">
											<img src="/images/mike-thumb.jpg" width="75" height="75" />
										</div>
										<div class="details">
											<span class="name">Michael Byrne</span>
											<span class="company">My Company</span>
											<div class="content">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis risus condimentum tempus ultrices. Curabitur vestibulum elementum arcu, eget cursus nunc vehicula sit amet. Mauris lacinia iaculis neque, nec sagittis nunc imperdiet id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean metus magna, convallis eget dui at, feugiat mattis tellus. In pharetra sapien eget augue euismod feugiat. Ut et ornare nisl, ut molestie enim. Nam lacus erat, fermentum non hendrerit ut, imperdiet in lectus. Quisque risus dolor, malesuada id ullamcorper sit amet, tincidunt vel magna. Cras suscipit vitae nulla molestie ullamcorper.
											</div>
											<span class="time">13 minutes ago</span>
										</div>
									</div>
									<div class="update">
										<div class="image">
											<img src="/images/dave-thumb.jpg" width="75" height="75" />
										</div>
										<div class="details">
											<span class="name">Dave Brown</span>
											<span class="company">My Company</span>
											<div class="content">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis risus condimentum tempus ultrices. Curabitur vestibulum elementum arcu, eget cursus nunc vehicula sit amet. Mauris lacinia iaculis neque, nec sagittis nunc imperdiet id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean metus magna, convallis eget dui at, feugiat mattis tellus. In pharetra sapien eget augue euismod feugiat. Ut et ornare nisl, ut molestie enim. Nam lacus erat, fermentum non hendrerit ut, imperdiet in lectus. Quisque risus dolor, malesuada id ullamcorper sit amet, tincidunt vel magna. Cras suscipit vitae nulla molestie ullamcorper.
											</div>
											<span class="time">1 hour ago</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="right-sidebar">
						<header>
							<h1><img src="images/misys-logo.png" title="Announcements"></img> Announcements</h1>
						</header>
						<div class="announcements">
							<div class="announcement">
								<img src="/images/50x50.gif" />
								<div class="user">
									<span class="name">Trisha</span><span class="role">Customer Service</span>
								</div>
								<div class="message">
									<p>Don't miss the introduction of the new MISys Bar Coding feature! Register for the Launch Party Wednesday Nov. 17 @ 2pm EST. Free gifts, more MISys Points, and a really cool demo.</p>
									<p><a href="javascript:void();">Register for the Bar Coding Launch Party</a></p>
								</div>
								<span class="time">Posted Nov 2, 2014 @ 2:12pm EST</span>
								<div class="clearfix"></div>
							</div>
							<div class="announcement">
								<img src="/images/50x50.gif" />
								<div class="user">
									<span class="name">Trisha</span><span class="role">Customer Service</span>
								</div>
								<div class="message">
									<p>Congratulations to Wendy Thurston! This month Wendy leads the MISys Manufacturing community for most MISys points. her participation has provided 32 MISys users with helpful answers to their questions. Wendy was awarded "MISys Guru" status and a $50 Amazon Gift Card! Congratulations Wendy!</p>
								</div>
								<span class="time">Posted Nov 2, 2014 @ 2:12pm EST</span>
								<div class="clearfix"></div>
							</div>
						</div>
					</section>
				</div>
      </div>
    </div>
  </div>
</div>