<ng-include src="'views/directives/mi-panels/controls/navigate-prev-next.html'"></ng-include>
			
<div class="primary-fields">
	<div class="row">
		<div class="col-md-4">
			<mi-text-field ng-maxlength="20"  mi-field-property="Resources.Workflows.Properties.WorkflowID" ng-model="workflow.UserProfileID" ng-readonly="mode === 'view' || mode === 'edit'" ng-required="true"></mi-text-field>
		</div>
		<div class="col-md-6">
			<mi-text-field ng-maxlength="30"  mi-field-property="Resources.Workflows.Properties.WorkflowName" ng-model="workflow.UserProfileName" ng-readonly="mode === 'view'" ng-required="true"></mi-text-field>
		</div>
	</div>
</div>

<ng-include src="'views/directives/mi-panels/controls/save-cancel-delete.html'"></ng-include>
<div class="clearfix"></div>
