.password-strength {
  span {
		display:block;
    font-size:.95em;
    font-weight:bold;
    height:100%;
  }

  ul.meter {
    display:inline-block;
    list-style-type:none;
    margin:0;
    padding:0;
    
    li {
      border-radius:.25em;
      display:inline-block;
      height:.8em;
      margin:0 .25em;
      width:2.5em;
      
      &:first-child {
        margin-left:0;
      }
      
      &.invalid {
        background-color:#CCC !important;;
      }
      
      &.insufficient {
        background-color:#F40;
      }
      
      &.fair {
        background-color:#F90;
      }
      
      &.good {
        background-color:#9D0;
      }
      
      &.strong {
        background-color:#9D0;
      }
    }
  }
}