<ng-include src="'views/directives/mi-panels/controls/navigate-prev-next.html'"></ng-include>
			
<div class="primary-fields">
	<div class="row">
		<div class="col-md-4">
			<mi-text-field mi-field-property="Resources.Location.Properties.ID" ng-model="location.ID" ng-required="true"></mi-text-field>
		</div>
		<div class="col-md-6">
			<mi-text-field mi-field-property="Resources.Location.Properties.Name" ng-model="location.Name"></mi-text-field>
		</div>
	</div>
</div>

<ng-include src="'views/directives/mi-panels/controls/save-cancel-delete.html'"></ng-include>
<div class="clearfix"></div>