<ul class="nav misc-tools" ng-controller="UserMiscToolsCtrl" ng-class="{'messages-active': messagingWindowOpen()}">
	<li class="application-mode-controls">
		<div class="test-toggle" ng-hide="appModeIsTrial()">
			<mi-application-mode-slider></mi-application-mode-slider>
		</div>
		<div class="subscribe" ng-show="appModeIsTrial()"><span>+ Subscribe</span></div>
	</li><li class="has-drop-down messages" ng-click="activate($event)" ng-class="{active: messagingWindowOpen()}">{{::resourcesObj.Views.Home.Header.AccountManagementTabs.Messages.DisplayText}}<span class="badge" ng-class="{'no-messages': !hasMessages()}">{{messageCount}}</span> <span class="caret"></span>
		<div class="drop-down">
			<div class="request progress" ng-class="{active: loading, 'progress-striped': loading}">
				<div class="progress-bar" ng-class="{'progress-bar-success': !loading}" style="width: 100%"></div>
			</div>
			<ul class="updates">
				<li class="update" ng-repeat="update in messagingUpdates">
					<div class="image"><img ng-src="/images/50x50.gif" height="40" width="40" /></div>
					<div class="details">
						<div class="action"><span><strong>{{update.user}}</strong> {{update.action}}</span></div>
						<div class="message"><span>{{update.message}}</span></div>
						<div class="time"><span>{{update.time}}</span></div>
					</div>
					<div class="clearfix"></div>
				</li>
			</ul>
			<div class="view-all" ng-click="viewAll()">
				<span title="View messages">View All Messages</span>
			</div>
		</div>
	</li><li class="has-drop-down user" ng-click="activate($event)">{{getUserDisplayName()}} <span class="caret"></span>
		<div class="drop-down">
			<ul>
				<li><a class="no-decoration no-wrap" href="javascript:void(0);">{{companyID}}</a></li>
				<li><a ui-sref="base.home.about">About</a></li>
				<li><a href="javascript:void(0)" ng-click="goToSessionUser()">Account Settings</a></li>
				<li><a ng-click="logout()">Logout</a></li>
			</ul>
		</div>
	</li>
</ul>
