<div class="row no-stretch">
	<div class="col-md-6">
		<fieldset>
			<legend>{{::resourcesObj.Views.Home.MasterFiles.Submenus.MasterFiles.Locations.Tabs.Address.Legends.Alternates.DisplayText}}</legend>
			<mi-text-field mi-field-property="Resources.Location.Properties.AlternateLocationID" ng-model="alternatelocation.AlternateLocationID" ng-required="true"></mi-text-field>
			<mi-text-field mi-field-property="Resources.Location.Properties.Order" ng-model="location.Order"></mi-text-field>
			<mi-text-field mi-field-property="Resources.Location.Properties.Name" ng-model="alternatelocation.Description"></mi-text-field>
			<mi-text-field mi-field-property="Resources.Location.Properties.Status" ng-model="alternatelocation.Status"></mi-text-field>
		</fieldset>
		<br />
	</div>
</div>