<section class="form-container">
  <form name="sendEmail" novalidate>
    <h1>{{::resourcesObj.Views.Login.Recovery.Form.DisplayText}}</h1>
		
    <mi-text-field class="no-form-control" mi-field-property="Resources.Login.Properties.CompanyName" ng-model="PasswordRecoveryValues.CompanyName" ng-required="true"></mi-text-field>
		<mi-text-field class="no-form-control" mi-field-property="Resources.Login.Properties.Username" ng-model="PasswordRecoveryValues.UserName" ng-required="true"></mi-text-field>
		
		<mi-http-alert-revisit mi-http-alert-trigger="miHttpAlertTrigger"></mi-http-alert-revisit>

		<mi-button
			class="btn btn-success"
			mi-button-click="submit()"
			mi-button-disabled="sendEmail.$invalid"
			mi-button-text="Continue"
			mi-button-loading-text="Continuing"
		></mi-button>
    <a class="alternative" ui-sref="base.login-template.password-recovery.password-reset-code">
      {{::resourcesObj.Views.Login.Recovery.Form.HaveAuthCode.DisplayText}}
    </a>
  </form>
</section>