<section class="form-container">
  <form name="authVerification" novalidate>
    <h1>{{::resourcesObj.Views.Login.Authorization.Form.DisplayText}}</h1>
    
		<mi-text-field ng-show="PasswordRecoveryValues.CompanyName" class="no-form-control" mi-field-property="Resources.Login.Properties.CompanyName" ng-model="PasswordRecoveryValues.CompanyName" mi-readonly="true"></mi-text-field>
		<mi-text-field ng-show="PasswordRecoveryValues.UserName" class="no-form-control" mi-field-property="Resources.Login.Properties.Username" ng-model="PasswordRecoveryValues.UserName" mi-readonly="true"></mi-text-field>
		<mi-text-field class="no-form-control" mi-field-property="Resources.RecoveryValues.Properties.AuthCode" ng-model="PasswordRecoveryValues.AuthCode" ng-required="true"></mi-text-field>
    
		<mi-http-alert-revisit mi-http-alert-trigger="miHttpAlertTrigger"></mi-http-alert-revisit>
		
		<mi-button
			class="btn btn-success"
			mi-button-click="submit()"
			mi-button-disabled="authVerification.$invalid"
			mi-button-text="Continue"
			mi-button-loading-text="Continuing"
		></mi-button>
        <a class="alternative" ui-sref="base.login-template.default">
          {{::resourcesObj.Views.Login.Authorization.Form.GoBackToLoginPage.DisplayText}} 
        </a>
  </form>
</section>