<section class="form-container">
  <form name="resetPassword" novalidate>
    <h1>{{::resourcesObj.Views.Login.Reset.Form.DisplayText}}</h1>
		<mi-password-field mi-field-property="Views.Login.Reset.Form.NewPassword" ng-model="PasswordRecoveryValues.NewPassword" ng-required="true" validate="true"></mi-password-field>
		
		<div password-strength-meter password="PasswordRecoveryValues.NewPassword"></div>
		
		<div class="mi-field">
			<label for="NewPasswordVerify">{{::resourcesObj.Views.Login.Reset.Form.NewPasswordVerify.DisplayText}}</label>
			<input id="NewPasswordVerify" name="NewPasswordVerify" type="password" equal="PasswordRecoveryValues.NewPassword" required ng-model="NewPasswordVerify" />
		</div>
		<br />
		<div class="equal" ng-class="{invisible:resetPassword.NewPasswordVerify.$error.required}">
			<span class="good" ng-hide="resetPassword.NewPasswordVerify.$error.equal">{{::resourcesObj.Views.Login.Reset.Form.PasswordsMatch.DisplayText}}</span>
			<span class="no-good" ng-show="resetPassword.NewPasswordVerify.$error.equal">{{::resourcesObj.Views.Login.Reset.Form.PasswordsDoNotMatch.DisplayText}}</span>
		</div>
		
		<mi-http-alert-revisit mi-http-alert-trigger="miHttpAlertTrigger"></mi-http-alert-revisit>
		
		<mi-button
			class="btn btn-success"
			mi-button-click="submit()"
			mi-button-disabled="resetPassword.$invalid"
			mi-button-text="Reset"
			mi-button-loading-text="Resetting"
		></mi-button>
  </form>
</section>