<mi-accordian>
	<h1>{{::resourcesObj.Views.Home.Accounting.Submenus.Accounting.DisplayText}}</h1>
	<div class="row">
		<div class="col-md-3">
			<fieldset>
				<legend>Account Sets</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Modify" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.View" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
		</div>
		<div class="col-md-3">
			<fieldset>
				<legend>General Ledger Accounts</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Modify" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.View" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
		</div>
		<div class="col-md-3">
			<fieldset>
				<legend>Tax Services</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Modify" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.View" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
		</div>
	</div>
	<h1>{{::resourcesObj.Views.Home.MasterFiles.Submenus.MasterFiles.DisplayText}}</h1>
	<div class="row">
		<div class="col-md-4">
			<fieldset>
				<legend>BOMs</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Modify" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.View" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
			<fieldset>
				<legend>Items</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Modify" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.View" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.AdjustCosts" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.ResetStatistics" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
		</div>
		<div class="col-md-4">
			<fieldset>
				<legend>Jobs</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Modify" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.View" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.PurgeDetails" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
			<fieldset>
				<legend>Locations</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Modify" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.View" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
		</div>
		<div class="col-md-4">
			<fieldset>
				<legend>Suppliers</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Modify" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.View" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.ResetStatistics" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
			<fieldset>
				<legend>Work Centers</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Modify" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.View" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
		</div>
	</div>
	<h1>Production</h1>
	<div class="row">
		<div class="col-md-3">
			<fieldset>
				<legend>Manufacturing Orders</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Modify" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.View" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Release" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Start" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Complete" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Close" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.PurgeClosed" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Print" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
		</div>
		<div class="col-md-3">
			<fieldset>
				<legend>Schedule</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.View" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Modify" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
			<fieldset>
				<legend>Shop Floor Operations</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Post" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.ModifyBatch" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Plan" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
		</div>
		<div class="col-md-3">
			<fieldset>
				<legend>Work Orders</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Modify" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.View" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Release" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Start" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Complete" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Close" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.PurgeClosed" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Print" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>		
		</div>
	</div>
	<h1>Purchasing</h1>
	<div class="row">
		<div class="col-md-3">
			<fieldset>
				<legend>Additional Costs</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Modify" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.View" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
		</div>
		<div class="col-md-4">
			<fieldset>
				<legend>Purchase Orders</legend>
				<div class="row">
					<div class="col-md-6">
						<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
						<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Modify" ng-model="mockCheckbox"></mi-checkbox-field>
						<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.View" ng-model="mockCheckbox"></mi-checkbox-field>
						<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Release" ng-model="mockCheckbox"></mi-checkbox-field>
						<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Expedite" ng-model="mockCheckbox"></mi-checkbox-field>
					</div>
					<div class="col-md-6">
						<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Receive" ng-model="mockCheckbox"></mi-checkbox-field>
						<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Close" ng-model="mockCheckbox"></mi-checkbox-field>
						<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Invoice" ng-model="mockCheckbox"></mi-checkbox-field>
						<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.PurgeClosed" ng-model="mockCheckbox"></mi-checkbox-field>
						<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Print" ng-model="mockCheckbox"></mi-checkbox-field>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<h1>Reports</h1>
	<div class="row">
		<div class="col-md-4">
			<fieldset>
				<legend>Reports</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Print" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Modify" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.InstallCustomReports" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
		</div>
	</div>
	<h1>Stock Control</h1>
	<div class="row">
		<div class="col-md-3">
			<fieldset>
				<legend>Physical Inventory</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.ModifyBatch" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Post" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.ResetVariance" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
		</div>
		<div class="col-md-3">
			<fieldset>
				<legend>Serial/Lot Tracking</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Assign" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Delete" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.View" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Modify" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.PurgeTransactionHistory" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
		</div>
		<div class="col-md-3">
			<fieldset>
				<legend>Stock Check</legend>
					<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
					<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.ModifyBatch" ng-model="mockCheckbox"></mi-checkbox-field>
					<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.PostBatch" ng-model="mockCheckbox"></mi-checkbox-field>
					<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.PerformDirectTransfer" ng-model="mockCheckbox"></mi-checkbox-field>
					<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.EnableAutoBuild" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
		</div>
		<div class="col-md-3">
			<fieldset>
				<legend>Stock Transfer</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.ModifyBatch" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.PostBatch" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.PerformDirectTransfer" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.EnableAutoBuild" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
		</div>
	</div>
	<h1>Miscellaneous</h1>
	<div class="row">
		<div class="col-md-3">
			<fieldset>
				<legend>Bins</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Assign" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Delete" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.View" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
			<fieldset>
				<legend>Dashboard</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Modify" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.View" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
		</div>
		<div class="col-md-3">
			<fieldset>
				<legend>SBM Desktop</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.CustomizeUI" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
			<fieldset>
				<legend>Tools</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Modify" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.View" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
		</div>
		<div class="col-md-3">
			<fieldset>
				<legend>Setup</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.BasicAccess" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.Modify" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.View" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
		</div>
		<div class="col-md-3">
			<fieldset>
				<legend>Other</legend>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.SelectAll" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.ShowCosts" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.ImportData" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.ExportData" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.PerformPeriodEnd" ng-model="mockCheckbox"></mi-checkbox-field>
				<mi-checkbox-field mi-field-property="Resources.SecurityGroup.Properties.Permissions.PurgeTransactionHistory" ng-model="mockCheckbox"></mi-checkbox-field>
			</fieldset>
		</div>
	</div>
</mi-accordian>