<div class="row no-stretch">
	<div class="col-md-4">
		<div class="row">
			<div class="col-md-12">
				<fieldset>
					<legend>Dashboard</legend>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.ShowCurrencyAmounts" ng-model="securityProfiles.ShowCurrencyAmounts"></mi-checkbox-field>
				</fieldset>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<fieldset>
					<legend>Master Files</legend>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.AllowRecordModifications" ng-model="securityProfiles.MasterFileRecordModifications"></mi-checkbox-field>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.AllowRecordDeletions" ng-model="securityProfile.MasterFileRecordDeletions"></mi-checkbox-field>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.ShowCurrencyAmounts" ng-model="securityProfile.MasterFileCurrencyAmounts"></mi-checkbox-field>
				</fieldset>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<fieldset>
					<legend>Planning</legend>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.PlanPurchasingActivities" ng-model="securityProfile.PlanPurchasingActivities"></mi-checkbox-field>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.PlanProductionActivities" ng-model="securityProfile.PlanProductionActivities"></mi-checkbox-field>
				</fieldset>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="row">
			<div class="col-md-12">
				<fieldset>
					<legend>Sales</legend>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.AllowRecordModifications" ng-model="securityProfile.SalesRecordModifications"></mi-checkbox-field>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.AllowRecordDeletions" ng-model="securityProfile.SalesRecordDeletions"></mi-checkbox-field>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.ShowCurrencyAmounts" ng-model="securityProfile.SalesCurrencyAmounts"></mi-checkbox-field>
				</fieldset>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<fieldset>
					<legend>Purchasing</legend>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.AllowRecordModifications" ng-model="securityProfile.PurchasingRecordModifications"></mi-checkbox-field>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.AllowRecordDeletions" ng-model="securityProfile.PurchasingRecordDeletions"></mi-checkbox-field>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.ShowCurrencyAmounts" ng-model="securityProfile.PurchasingCurrencyAmounts"></mi-checkbox-field>
				</fieldset>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<fieldset>
					<legend>Production</legend>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.AllowRecordModifications" ng-model="securityProfile.ProductionRecordModifications"></mi-checkbox-field>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.AllowRecordDeletions" ng-model="securityProfile.ProductionRecordDeletions"></mi-checkbox-field>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.ShowCurrencyAmounts" ng-model="securityProfile.ProductionCurrencyAmounts"></mi-checkbox-field>
				</fieldset>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="row">
			<div class="col-md-12">
				<fieldset>
					<legend>Inventory Control</legend>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.AllowRecordModifications" ng-model="securityProfile.InventoryRecordModifications"></mi-checkbox-field>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.AllowRecordDeletions" ng-model="securityProfile.InventoryRecordDeletions"></mi-checkbox-field>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.ShowCurrencyAmounts" ng-model="securityProfile.InventoryCurrencyAmounts"></mi-checkbox-field>
				</fieldset>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<fieldset>
					<legend>Reports</legend>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.AllowRecordModifications" ng-model="securityProfile.ReportsReportModifications"></mi-checkbox-field>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.AllowRecordDeletions" ng-model="securityProfile.ReportsReportDeletions"></mi-checkbox-field>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.ShowCurrencyAmounts" ng-model="securityProfile.ReportsCurrencyAmounts"></mi-checkbox-field>
				</fieldset>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<fieldset>
					<legend>Administration</legend>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.AllowRecordModifications" ng-model="securityProfile.AdminRecordModifications"></mi-checkbox-field>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.AllowRecordDeletions" ng-model="securityProfile.AdminReportDeletions"></mi-checkbox-field>
					<mi-checkbox-field mi-field-property="Resources.SecurityProfiles.Properties.ShowCurrencyAmounts" ng-model="securityProfile.AdminCurrencyAmounts"></mi-checkbox-field>
				</fieldset>
			</div>
		</div>
	</div>
</div>