<div class="row">
	<div class="col-md-6">
		<mi-text-field mi-field-property="Resources.Bom.Properties.RevisionDate" ng-model="bom.RevisionDate"></mi-text-field>
		<mi-text-field mi-field-property="Resources.Bom.Properties.Eco" ng-model="bom.Eco"></mi-text-field>
		<mi-text-field mi-field-property="Resources.Bom.Properties.Author" ng-model="bom.Author"></mi-text-field>
		<mi-text-field mi-field-property="Resources.Bom.Properties.RevisionComment" ng-model="bom.RevisionComment"></mi-text-field>
		
	</div>
	<div class="col-md-6">
		<fieldset>
			<legend>Settings</legend>
			
			<mi-checkbox-field mi-field-property="Resources.Bom.Properties.AllowEffectiveDateOverride" ng-model="bom.AllowEffectiveDateOverride"></mi-checkbox-field>
		</fieldset>
	</div>
</div>