<!--
<div class="row no-stretch">
	<div class="col-md-12">
		<fieldset>
			<legend>{{::resourcesObj.Views.Home.MasterFiles.Submenus.MasterFiles.Suppliers.Tabs.Address.Legends.SupplierItems.DisplayText}}</legend>
			<div class="row">
				<div class="col-md-6">
					<mi-text-field mi-field-property="Resources.Suppliers.Properties.itemNo" ng-model="supplier.itemNo"></mi-text-field>
					<mi-text-field mi-field-property="Resources.Suppliers.Properties.SupplierProductCode" ng-model="supplier.SupplierProductCode"></mi-text-field>
					<mi-text-field mi-field-property="Resources.Suppliers.Properties.LastOrderDate" ng-model="supplier.LastOrderDate"></mi-text-field>
					<mi-text-field mi-field-property="Resources.Suppliers.Properties.RecentCost" ng-model="supplier.RecentCost"></mi-text-field>
					<mi-text-field mi-field-property="Resources.Suppliers.Properties.BasePrice" ng-model="supplier.BasePrice"></mi-text-field>
				</div>
				<div class="col-md-6">
					<mi-text-field mi-field-property="Resources.Suppliers.Properties.YTDQuantity" ng-model="supplier.YTDQuantity"></mi-text-field>
					<mi-text-field mi-field-property="Resources.Suppliers.Properties.PurchaseUnits" ng-model="supplier.PurchaseUnits"></mi-text-field>
					<mi-text-field mi-field-property="Resources.Suppliers.Properties.UnitsConversion" ng-model="supplier.UnitsConversion"></mi-text-field>
					<mi-text-field mi-field-property="Resources.Suppliers.Properties.OrderLeadDays" ng-model="supplier.OrderLeadDays"></mi-text-field>
				</div>
			</div>
		</fieldset>
	</div>
</div>
-->

<mi-supplier-items-data-grid
	supplier-resource-id="supplier.ResourceID"
></mi-supplier-items-data-grid>
