<div class="row no-stretch">
	<div class="col-md-5 col-md-offset-1">
		<mi-text-field mi-field-property="Resources.Suppliers.Properties.PoNo" ng-model="supplier.PoNo"></mi-text-field>
	</div>
	<div class="col-md-5">
		<mi-select-field mi-field-property="Resources.Suppliers.Properties.Status" ng-model="supplier.Status"></mi-select-field>
	</div>
</div>
<div class="row no-stretch">
	<div class="col-md-5 col-md-offset-1">
		<mi-number-field mi-field-property="Resources.Suppliers.Properties.Currency" ng-model="supplier.currency"></mi-number-field>
	</div>
	<div class="col-md-5">
		<mi-text-field mi-field-property="Resources.Suppliers.Properties.OrderDate" ng-model="supplier.OrderDate"></mi-text-field>
	</div>
</div>
<div class="row no-stretch">
	<div class="col-md-5 col-md-offset-1">
		<mi-text-field mi-field-property="Resources.Suppliers.Properties.ReceivedAmount" ng-model="supplier.ReceivedAmount"></mi-text-field>
	</div>
	<div class="col-md-5">
		<mi-text-field mi-field-property="Resources.Suppliers.Properties.JobNo" ng-model="supplier.JobNo"></mi-text-field>
	</div>
</div>
<div class="row no-stretch">
	<div class="col-md-5 col-md-offset-1">
		<mi-text-field mi-field-property="Resources.Suppliers.Properties.LocationID" ng-model="supplier.LocationID"></mi-text-field>
	</div>
	<div class="col-md-5">
		<mi-textarea-field mi-field-property="Resources.Suppliers.Properties.Description" ng-model="supplier.Description"></mi-text-field>
	</div>
</div>