<div class="mi-field password" ng-class="{unmasked: isUnmasked(), empty: isEmpty()}">
	<label>{{::displayText}}</label>
	<input
		class="form-control"
		name="{{name}}"
		type="{{type}}"
		ng-model="ngModel"
		ng-model-options="{
			allowInvalid: true
		}"
		mi-caps-tooltip
		mi-tooltip="{{requirementsText}}"
		ng-disabled="ngDisabled"
		ng-required="ngRequired"
		mi-maxlength="ngMaxlength"
		ng-minlength="ngMinlength"
		placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
		validate-password="validate"
	></input>
	<img class="unmask" src="/images/reveal-semi-transparent.png" ng-click="toggleMask()" />
	<mi-tooltip-revisit text="'Field requires input'" show="!validRequired()"></mi-tooltip-revisit>
	<mi-tooltip-revisit text="'Field requires ' + ngMinlength + ' characters'" show="!validMinlength()"></mi-tooltip-revisit>
</div>