<div class="mi-field text">
	<label>{{::displayText}}</label>
	<div class="edit" ng-hide="isReadonly()">
		<input 
			class="form-control" 
			type="text" 
			numbers-only
			ng-model="ngModel" 
			ng-readonly="ngReadonly" 
			ng-disabled="ngDisabled"
			mi-maxlength="ngMaxlength"
		></input>
	</div>
	<div class="readonly" ng-show="isReadonly()">
		<div class="not-empty" ng-hide="isEmpty()">
			<p>{{ngModel}}</p>
		</div>
		<div class="empty" ng-show="isEmpty()">
			<p class="gray">No data</p>
		</div>
	</div>
</div>
