<ng-include src="'views/directives/mi-panels/controls/navigate-prev-next.html'"></ng-include>
			
<div class="primary-fields">
	<div class="row">
		<div class="col-md-4">
			<mi-text-field mi-field-property="Resources.Jobs.Properties.ID" ng-model="job.ID" ng-disabled="miPanelMode === 'edit'" mi-readonly="miPanelMode === 'view'" ng-required="true"></mi-text-field>
		</div>
		<div class="col-md-6">
			<mi-text-field mi-field-property="Resources.Jobs.Properties.Name" ng-model="job.Name" mi-readonly="miPanelMode === 'view'"></mi-text-field>
		</div>
	</div>
</div>

<ng-include src="'views/directives/mi-panels/controls/save-cancel-delete.html'"></ng-include>
<div class="clearfix"></div>